{
  "username": "{{ new_username }}",
  "enabled": true,
  {% if guid is defined and guid | length > 0 %}
    "attributes": {
      "idir_userid": "{{ guid }}",
      "idir_user_guid": "{{ guid }}"
    }
  {% endif %}
}
