{
  "clientId": "{{ k6_api_client_name }}",
  "name": "k6 API testing client",
  "clientAuthenticatorType": "client-secret",
  "standardFlowEnabled": true,
  "serviceAccountsEnabled": true,
  "directAccessGrantsEnabled": true,
  "enabled": true,
  "implicitFlowEnabled": false,
  "protocol": "openid-connect",
  "publicClient": false,
  "redirectUris": [
    "*"
  ]
}