{
  "clientId": "{{ k6_client_name }}",
  "name": "k6 testing client",
  "clientAuthenticatorType": "client-secret",
  "standardFlowEnabled": false,
  "directAccessGrantsEnabled": true,
  "enabled": true,
  "implicitFlowEnabled": false,
  "protocol": "openid-connect",
  "publicClient": true,
  "rootUrl": "http://localhost",
  "adminUrl": "http://localhost",
  "baseUrl": "http://localhost",
  "webOrigins": [
    "*",
    "http://localhost",
  ]
}