SSO_BASE_URL={{ keycloak_url }}
SSO_REALM_{{ curr_index }}={{ realm }}
SSO_CLIENT={{ k6_client_name }}
USER_PASSWORD={{ k6_user_psw }}
SSO_SA_CLIENT_ID={{ k6_api_client_name }}
SSO_SA_CLIENT_PASSWORD_{{ curr_index }}={{ k6_api_client_secret }}