{
  "username": "{{ item }}",
  "enabled": true,
  "firstName": "{{ item }}",
  "lastName": "{{ item }}",
  "email": "{{ item }}@email.com",
  "credentials": [{"type":"password","value":"{{ k6_user_psw }}","temporary":false}],
}
