{
  "username": "{{ item.k6_username }}",
  "enabled": true,
  "firstName": "{{ item.k6_username }}",
  "lastName": "{{ item.k6_username }}",
  "email": "{{ item.k6_username }}@email.com",
  "credentials": [{"type":"password","value":"{{ item.k6_password }}","temporary":false}],
}
