{
  "name": "{{ ocp4_realm_role_name }}",
  "containerId": "{{ realm_data.realm.id }}",
  "description": "The GitHub Organization Membership to Role - BCDevOps",
  "clientRole": false,
  "composite": false
}