{
  "alias": "_bceidbasicbusiness",
  "displayName": "BCeID (business or basic)",
  "providerId": "saml",
  "enabled": true,
  "storeToken": false,
  "trustEmail": false,
  "addReadTokenRoleOnCreate": false,
  "authenticateByDefault": false,
  "linkOnly": false,
  "firstBrokerLoginFlowAlias": "first broker login",
  "updateProfileFirstLoginMode": "on",
  "config": {
      "signingCertificate": "{{ bceid_both_cert }}",
      "singleSignOnServiceUrl": "{{ bceid_both_sso_url }}",
      "singleLogoutServiceUrl": "{{ bceid_both_slo_url }}",
      "backchannelSupported": "false",
      "forceAuthn": "true",
      "nameIDPolicyFormat": "urn:oasis:names:tc:SAML:2.0:nameid-format:persistent",
      "postBindingAuthnRequest": "true",
      "postBindingResponse": "true",
      "samlXmlKeyNameTranformer": "KEY_ID",
      "signatureAlgorithm": "RSA_SHA256",
      "useJwksUrl": "true",
      "validateSignature": "true"
  },

}