[
  {
    "config": {
      "attribute.name": "email",
      "user.attribute": "email"
    },
    "identityProviderAlias": "_bceidbasic",
    "identityProviderMapper": "saml-user-attribute-idp-mapper",
    "name": "email"
  },
  {
    "config": {
      "attribute.name": "displayname",
      "user.attribute": "displayName"
    },
    "identityProviderAlias": "_bceidbasic",
    "identityProviderMapper": "saml-user-attribute-idp-mapper",
    "name": "displayName"
  },
  {
    "config": {
      "attribute.name": "useridentifier",
      "user.attribute": "_bceidbasic_userid"
    },
    "identityProviderAlias": "_bceidbasic",
    "identityProviderMapper": "saml-user-attribute-idp-mapper",
    "name": "_bceidbasic_userid"
  }
]